.menu {
    position: fixed;
    left: 0;
    top: 137px;

    width: 100%;
    min-height: 100vh;
    max-height: 100%;

    overflow-y: auto;

    background-color: $white;
    padding-bottom: 200px;
    padding-top: 18px;

    transform: translateX(110%);
    z-index: -1;
    transition: all 0.3s ease 0s;

    @media (max-width: 768px) {
        top: 124px;
    }

    &._open {
        transform: translateX(0%);
        z-index: 10;
    }

    // .menu__container

    &__container {
    }

    // .menu__body

    &__body {
        overflow: hidden;
    }

    .open-catalog-btn {
        width: 100%;
        border: 1px solid rgba(213, 38, 35, 0.5);
        display: none;

        @media (max-width: 768px) {
            display: flex;
        }

        * {
            color: $accent;
            font-weight: 600;
        }
    }

    .nav {
        @media (max-width: 1200px) {
            display: block;
            height: fit-content;
        }

        margin-top: 36px;
        padding-bottom: 43px;
        border-bottom: 1px solid #f7f7f7;

        & > ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            & > li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;

                a {
                    text-align: left;
                    text-transform: uppercase;
                    width: calc(100% - 20px);
                    color: #656565;
                    white-space: wrap;
                }

                button {
                    svg {
                        fill: currentColor;
                    }
                }

                ul {
                    li {
                        a {
                            text-transform: initial;
                        }
                    }
                }
            }
        }
    }

    ._demibold {
        a {
            color: #d52623 !important;
        }

        color: #d52623 !important;
        font-size: 15px;
        font-weight: 600;
    }

    //00000000 shop menu

    &._shop-menu {
        .catalog-menu {
            @media (max-width: 768px) {
                display: grid;
                grid-template-rows: 1fr;
            }
        }

        .mail {
            margin-top: 20px;
            display: block;
            color: $accent;
            font-size: 15px;
        }

        .back-index {
            margin-top: 24px;
            margin-bottom: 40px;
            display: flex;
            align-items: center;
            color: #877f7f;

            svg {
                width: 10px;
                height: 10px;
                flex: 0 0 auto;
                transform: rotate(270deg);
                margin-bottom: 11px;
                fill: #877f7f;
            }
        }

        ._btn-white {
            display: flex;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
        }

        .address {
            gap: 9px;
            padding-bottom: 20px;
            border-bottom: 1px solid #f7f7f7;

            a {
                div {
                    label {
                        opacity: 1;
                        color: $black;
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.address {
    margin-top: 35px;
    display: flex;
    flex-direction: column;

    gap: 22px;

    p {
        opacity: 0.5;
        color: $black;
        font-size: 15px;
        display: block;
    }

    a {
        display: flex;
        gap: 8px;

        svg {
            width: 10.302px;
            height: 14px;
            flex: 0 0 auto;
        }

        div {
            font-weight: 400;

            span {
                display: block;
                color: $black;
                font-size: 15px;
                margin-bottom: 6px;
            }

            label {
                display: block;
                opacity: 0.7;
                font-size: 12px;
                pointer-events: none;
            }
        }
    }
}

._toolbar-search {
    .search {
        max-width: none !important;
        display: flex;
        height: 47px;

        max-width: 259px;
        flex: 1 1 auto;
        height: 47px;
        border-radius: 10px;
        background: #f7f7f7;
        padding: 0 20px;

        input {
            display: block;
        }
    }
}
