.popup {
    position: fixed;
    z-index: 21;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    padding: 100px 0;
    overflow-y: auto;

    background-color: rgba($color: $black, $alpha: 0.5);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease 0s;

    &._open {
        opacity: 1;
        pointer-events: all;

        .popup__container {
            transform: translate3d(0, 0, 0);
        }
    }

    @media (max-width: 1024px) {
        padding: 70px 0;
    }

    @media (max-height: 660px) {
        display: block;
    }

    // .popup__container

    &__container {
        max-width: 500px;
        position: relative;

        transform: translate3d(100px, 0, 0);

        transition: transform 0.3s ease 0s;
    }

    // .popup__close

    &__close {
        width: 54px;
        height: 54px;
        border-radius: 10px;
        background-color: $white;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: background-color 0.3s ease 0s;

        @media (min-width: 1025px) {
            position: absolute;
            left: calc(100% + 10px);
            top: 0;
        }

        @media (max-width: 1024px) {
            margin-bottom: 12px;
            width: 40px;
            margin-left: auto;
            height: 40px;
        }

        @media (any-hover: hover) {
            &:hover {
                background-color: #fafafa;

                svg,
                img {
                    stroke: $accent;
                    transform: rotate(180deg);
                }
            }
        }

        svg,
        img {
            width: 20px;
            flex: 0 0 auto;
            stroke: $black;
            stroke-width: 2px;

            transition: all 0.3s ease 0s;
            pointer-events: none;

            @media (max-width: 1024px) {
                width: 15px;
            }
        }
    }

    .form {
        border-radius: 10px;
        margin: 0 !important;

        @include adaptive-value("padding-top", 48, 24, 1);
        @include adaptive-value("padding-bottom", 48, 28, 1);
        @include adaptive-value("padding-inline", 40, 16, 1);

        h4 {
            text-align: center;
            margin-bottom: 1.1em;
        }

        // .form__item

        &__item {
        }

        .textarea {
            margin-top: 0;
        }

        // .form__bottom

        &__bottom {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: 24px;
            text-align: center;

            @media (max-width: 768px) {
                margin-top: 16px;
            }

            ._btn {
                width: 100%;
                max-width: none;
            }
        }
    }

    &#cart,
    &#thanks,
    &#error {
        p {
            text-align: center;
            line-height: 1.3;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }

        ._btn {
            width: 100%;
            max-width: none;

            &:not(:last-child) {
                margin-bottom: 12px;
            }
        }
    }

    &#error {
        color: $accent;

        h4 {
            color: $accent;
        }
    }

    .file {
    }

    .filename {
    }
    ._delete-file {
    }
}
