<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@@title</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <div class="pages">
        <button class="pages-close">X</button>
        <a href="_nav.html">навигация</a>
    </div>

    @@if (type === 'shop') {
    @@include('shop-parts/catalog-menu.html')
    @@include('shop-parts/menu.html')
    @@include('shop-parts/toolbar.html')
    }

    @@if (type === '') {
    @@include('catalog-menu.html')
    @@include('menu.html')
    }

    <div class="wrapper">