.single-product-hero {
    h1 {
        @media (min-width: 1025px) {
            max-width: 780px;
        }
    }

    .section__body {
        position: relative;
    }

    ._share {
        position: absolute;
        right: 0;
        bottom: 0;

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.single-product {
    @media (max-width: 768px) {
        margin-bottom: 40px;
    }

    .section__flex {
        @media (max-width: 1024px) {
            display: block;
        }

        &-left {
            @media (min-width: 1025px) {
                width: 58%;

                @media (max-width: 1160px) {
                    width: 54%;
                }
            }
        }

        &-right {
            @media (min-width: 1025px) {
                width: 42%;

                @media (max-width: 1160px) {
                    width: 46%;
                }
            }

            @media (max-width: 1024px) {
                @include adaptive-value("margin-top", 40, 20, 1);
            }
        }
    }

    // .single-product__images

    &__images {
        display: flex;
        gap: 18px;

        // .single-product__images-thumbs

        &-thumbs {
            min-width: 0;
            width: 108px;
            flex: 0 0 auto;

            @media (max-width: 1024px) {
                display: none;
            }

            .swiper {
                min-height: 100%;

                &-wrapper {
                }

                &-slide {
                    padding: 2px;
                    border: 1px solid transparent;
                    border-radius: 10px;
                    height: 84px;

                    cursor: pointer;

                    picture,
                    img {
                        height: 100%;
                        object-fit: cover;
                    }

                    img {
                        border-radius: 10px;
                    }

                    &.swiper-slide-thumb-active {
                        border-color: $accent;
                    }
                }
            }
        }

        // .single-product__images-main

        &-main {
            min-width: 0;
            flex: 1 1 auto;
            position: relative;

            .special-offer,
            .country-flag {
                z-index: 3;
            }

            .swiper {
                &-wrapper {
                }

                &-slide {
                    position: relative;
                    padding-bottom: 100%;

                    @media (max-width: 1024px) {
                        padding-bottom: 50%;
                    }

                    @media (max-width: 768px) {
                        padding-bottom: 75%;
                    }

                    @media (max-width: 640px) {
                        padding-bottom: 100%;
                    }

                    img {
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .pagination {
                position: absolute;
                bottom: 12px;
                left: 50%;
                transform: translate(-50%, 0);
                z-index: 3;
                gap: 8px;

                background-color: rgba($color: $black, $alpha: 0.2);
                backdrop-filter: blur(15px);
                padding: 14px 16px;
                border-radius: 100px;

                span {
                    background-color: rgba($color: $white, $alpha: 0.3);

                    &.swiper-pagination-bullet-active {
                        background-color: $white;
                    }
                }

                @media (min-width: 1025px) {
                    display: none;
                }
            }
        }

        .swiper {
            &-wrapper {
            }

            &-slide {
                picture,
                img {
                    height: 100%;
                    object-fit: cover;
                }

                img {
                    border-radius: 10px;
                }
            }
        }
    }

    // .single-product__summary

    &__summary {
        min-height: 100%;
        border-radius: 10px;
        border: 1px solid #eaeaea;
        background-color: $white;
        position: relative;

        @include adaptive-value("padding-inline", 32, 16, 1);
        @include adaptive-value("padding-top", 32, 20, 1);
        @include adaptive-value("padding-bottom", 32, 24, 1);

        .discount {
            left: unset;
            right: -16px;
            top: 16px;

            @media (max-width: 1024px) {
                top: 20px;
            }

            &:after {
                position: absolute;
                content: "";
                z-index: -1;
                right: -3px;
                bottom: 0;
                width: 20px;
                height: 20px;

                background-color: #a70300;
                transform: translate(-50%, 50%) rotate(45deg);
            }
        }

        .price {
            margin-bottom: 12px;

            @media (max-width: 768px) {
                margin-bottom: 20px;
            }

            ins {
                @include adaptive-value("font-size", 44, 30, 1);
            }

            del {
                @include adaptive-value("font-size", 24, 20, 1);
            }

            // .price-description

            &-description {
                font-size: 13px;
                color: rgba($color: $black, $alpha: 0.6);

                margin-bottom: 32px;

                @media (max-width: 768px) {
                    margin-bottom: 24px;
                }
            }
        }

        ._chars {
            margin-bottom: 32px;

            @media (max-width: 768px) {
                margin-bottom: 28px;
            }

            // .chars-color

            &-color {
            }
        }
    }

    // .single-product__btns

    &__btns {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 32px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        ._btn {
            @media (min-width: 769px) {
                width: calc(50% - 6px);

                &.get-consultation {
                    flex: 0 0 100%;
                }
            }

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    // .single-product__links

    &__links {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 768px) {
            flex-direction: column;
        }

        a,
        button {
            color: $accent;

            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }
}

.single__add-to-cart {
    display: flex;
    align-items: flex-end;
    gap: 24px;

    border-bottom: 1px solid #eaeaea;
    padding-bottom: 27px;
    margin-bottom: 27px;

    @media (max-width: 768px) {
        padding-bottom: 24px;
        margin-bottom: 20px;

        display: block;
    }

    label {
        font-size: 13px;
        display: block;
        margin-bottom: 1em;

        @media (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    // .single__add-to-cart-right

    &-right {
        @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;
        }
    }

    // .single__add-to-cart-left

    &-left {
        display: flex;
        gap: 12px;
        flex: 1 1 auto;

        ._btn {
            flex: 1 1 auto;
            @include adaptive-value("padding-left", 30, 10, 1);
            @include adaptive-value("padding-right", 30, 10, 1);

            height: 60px;

            @media (max-width: 768px) {
                height: 54px;
            }
        }
    }

    .add-to-cart {
        width: 60px;
        height: 60px;
        flex: 0 0 auto;

        @media (max-width: 768px) {
            width: 54px;
            height: 54px;
        }

        display: flex;
        align-items: center;
        justify-content: center;

        color: $accent;

        border: 1px solid currentColor;
        border-radius: 10px;

        svg {
            width: 50%;
            fill: currentColor;
            flex: 0 0 auto;
            pointer-events: none;
        }
    }
}

._chars {
    ol {
        @media (max-width: 768px) {
            font-size: 15px;
        }

        & > :not(:last-child) {
            margin-bottom: 20px;
        }

        li {
            color: $black;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            position: relative;
            gap: 60px;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 2px;
                border-top: 1px dashed #eaeaea;
                width: 100%;
            }

            span {
                background-color: $white;
                position: relative;
                // z-index: 1;
            }

            & > :first-child {
            }

            & > :last-child {
                text-align: right;
            }
        }
    }
}

.product-tabs {
    &[data-tabs] {
        @media (max-width: 600px) {
            flex-direction: column;
            gap: 7px;
            padding-bottom: 20px;
        }

        [data-tab] {
            @media (max-width: 600px) {
                width: 100%;
                border-radius: 10px;
            }
        }
    }

    // .product-tabs__content

    &__content {
        background-color: $white;
        border-radius: 10px;
        border: 1px solid #f3f3f3;

        @include adaptive-value("padding-top", 40, 20, 1);
        @include adaptive-value("padding-bottom", 40, 20, 1);
        @include adaptive-value("padding-inline", 40, 16, 1);
    }

    // .product-tabs__attention

    &__attention {
        margin-top: 48px;
        max-width: 785px;

        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }
}

._attention {
    label {
        color: $accent;
    }
}

.single-product {
    // .single-product__tabs

    &__tabs {
        @media (max-width: 768px) {
            margin-bottom: 40px;
        }
    }

    // .single-product__chars

    &__chars {
    }

    // .single-product__descr

    &__descr {
    }

    // .single-product__pokritiya

    &__pokritiya {
        .section__flex {
            &-left {
                @media (min-width: 1025px) {
                    width: 56%;
                }

                img {
                    border-radius: 10px;
                }
            }

            &-right {
                @media (min-width: 1025px) {
                    width: 44%;
                }

                @media (max-width: 1024px) {
                    margin-top: 20px;
                }

                ._link {
                    @media (max-width: 768px) {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}

.color-map {
}

.empty-cart {
    .section__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        text-align: center;
    }

    img {
        width: 136px;
    }
}
