#_shop-grid-catalog {
    @include adaptive-value("margin-bottom", 100, 50, 1);

    .section__top {
        @media (max-width: 425px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 7px;
        }
    }

    .grid {
        gap: 20px 29px;

        @media (max-width: 1024px) {
            gap: 15px;
        }

        @media (max-width: 600px) {
            gap: 5px;
        }

        &-3 {
            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }
        }
    }
}

#pokritiya {
    @include adaptive-value("margin-bottom", 127, 50, 1);

    .section__top {
        gap: 20px;
        a {
            white-space: nowrap;
        }

        @media (max-width: 425px) {
            flex-direction: column;
            gap: 7px;
            align-items: flex-start;
        }
    }

    .grid-6 {
        gap: 19px;

        @media (max-width: 992px) {
            gap: 8px;
            grid-template-columns: repeat(3, 1fr);
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            @include adaptive-value("height", 113, 58, 1);

            picture {
                height: 100%;
            }

            img {
                border-radius: 10px;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

#free-estimate {
    @include adaptive-value("margin-bottom", 176, 50, 1);

    .section__flex {
        align-items: center;
    }

    .form {
        margin: 0;

        @media (min-width: 993px) {
            margin-right: -32px;
        }

        // .form-white

        &-white {
            padding: 0;
        }
    }

    .free-estimate__img {
        position: relative;
        flex: 1 1 526px;

        img {
            position: absolute;
            right: 30px;
            width: 100%;
            top: 50%;
            transform: translate(0, -52%);
        }

        @media (max-width: 992px) {
            display: none;
        }
    }
}

#_shop-services {
    @include adaptive-value("margin-bottom", 80, 50, 1);

    .grid {
        border-radius: 10px;
        border: 1px solid #eaeaea;
        background-color: $white;

        @include adaptive-value("gap", 62, 0, 1);
        @include adaptive-value("padding-top", 36, 16, 1);
        @include adaptive-value("padding-bottom", 36, 16, 1);
        @include adaptive-value("padding-inline", 64, 16, 1);

        @media (max-width: 768px) {
            display: block;
        }

        & > :not(:last-child) {
            @media (min-width: 769px) {
                border-right: 1px solid #eaeaea;
            }

            @media (max-width: 768px) {
                @include adaptive-value("margin-bottom", 40, 24, 1);
            }
        }
    }
}

#useful-articles {
    @include adaptive-value("padding-top", 80, 36, 1);
    @include adaptive-value("padding-bottom", 80, 36, 1);

    .section__top {
        * {
            color: $white;
        }

        @media (max-width: 425px) {
            flex-direction: column;
            align-items: flex-start;
            gap: 7px;
        }
    }

    .swiper {
        @media (max-width: 992px) {
            width: 100vw;
            margin-left: -$padding + px;
            padding: 0 $padding + px;
        }
    }

    .swiper-slide {
        @media (max-width: 992px) {
            max-width: 285px;
            display: block;
        }
    }

    .swiper-wrapper {
        @media (min-width: 993px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
        }
    }

    .pagination {
        margin-top: 36px;
        margin-left: auto;
        margin-right: auto;

        span {
            background-color: rgba($color: $white, $alpha: 0.3);

            &.swiper-pagination-bullet-active {
                background-color: rgba($color: $white, $alpha: 1);
            }
        }
    }
}

#how-order {
    @include adaptive-value("margin-bottom", 90, 32, 1);

    .step-item__top {
        div {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 68px;
            height: 68px;

            border-radius: 5px;
            background: #d52623;

            @media (max-width: 768px) {
                width: 38px;
                height: 38px;
            }

            img,
            svg {
                width: 30px;
                height: 30px;
                flex: 0 0 auto;

                @media (max-width: 768px) {
                    width: 18px;
                    height: 17px;
                }
            }
        }

        label {
        }
    }

    .step-item__bottom {
        p {
            span {
                color: $accent;
            }

            color: $black;
            font-weight: 400;
            @include adaptive-value("font-size", 20, 14, 1);
        }
    }
}

#directions {
    padding: 60px 0;
    background-color: #fafafa;
    @include adaptive-value("margin-bottom", 60, 50, 1);

    @media (max-width: 768px) {
        padding: 24px;
    }
    .section__top {
        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
        }

        a {
            color: $white;

            @media (max-width: 1024px) {
                width: 100%;
            }
        }
    }

    p {
        max-width: 882px;
        width: 100%;

        @media (max-width: 1024px) {
            margin-top: 24px;
            margin-bottom: 20px;
        }
    }

    .swiper-slide,
    img {
        border-radius: 10px;
    }

    .pagination {
        display: none;
    }
}

#offices {
    @include adaptive-value("margin-bottom", 80, 50, 1);

    .grid {
        &-3 {
            gap: 33px;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }
    }
}

.section.adv {
    position: relative;
    margin-bottom: 0 !important;

    .section__bgi {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;

        picture {
            width: 100%;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .section__flex {
        height: 180px;

        padding-top: 30px;
        padding-bottom: 20px;

        @media (max-width: 768px) {
            height: 130px;
        }

        &-left {
            display: flex;
            flex-direction: column;
            color: $white;

            span {
                font-weight: 600;

                @include adaptive-value("font-size", 20, 12, 1);
                @include adaptive-value("margin-bottom", 12, 5, 1);
            }

            label {
                @include adaptive-value("font-size", 40, 20, 1);
                font-weight: 600;
                flex: 1 1 auto;
            }

            .erid {
                margin-top: 10px;
            }
        }
    }

    .erid {
        font-size: 12px;
        color: rgba($color: $white, $alpha: 0.6);
    }
}
