.grid-catalog__item {
    display: block;

    @media (any-hover: hover) {
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }

    @media (min-width: 769px) {
        position: relative;
        padding-bottom: 69.38%;

        &:before {
            position: absolute;
            content: "";
            inset: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 2;
        }

        &:after {
            transition: all 0.3s ease 0s;
            position: absolute;
            content: "";
            inset: 0;
            opacity: 0;
            transition: opacity 0.3s ease 0s;
            background: linear-gradient(0deg, rgba(213, 38, 35, 0.7) 0%, rgba(213, 38, 35, 0.7) 100%);
            z-index: 2;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #e8e7e7;
        padding: 16px 20px;
    }

    div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
            display: none;
        }

        picture {
            width: 100%;
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    span {
        display: flex;
        align-items: center;

        gap: 18px;
        width: 100%;

        @media (min-width: 769px) {
            position: absolute;
            z-index: 3;
            padding: 10px;

            justify-content: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        label {
            text-align: center;
            color: $white;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;

            @media (max-width: 768px) {
                color: $text;
                text-align: left;
                font-size: 14px;
                font-weight: 500;
            }
        }

        img,
        svg {
            width: 30px;
            height: 30px;
            flex: 0 0 auto;

            @media (min-width: 769px) {
                display: none;
            }
        }
    }
}

.partners-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive-value("gap", 50, 20, 1);

    @media (any-hover: hover) {
        &:hover {
            img,
            svg {
                filter: grayscale(0);
            }
        }
    }

    div {
        height: 73px;

        display: flex;
        align-items: center;
        justify-content: center;

        picture,
        img,
        svg {
            width: auto;
            max-height: 100%;
        }

        img,
        svg {
            filter: grayscale(1);
            transition: filter 0.3s ease 0s;
        }
    }

    p {
        color: $text;
        text-align: center;
        @include adaptive-value("font-size", 15, 13, 1);

        @media (max-width: 768px) {
            br {
                display: none;
            }
        }
    }
}

.advantages-item {
    @media (max-width: 992px) {
        display: flex;
        gap: 16px;
    }

    * {
        color: $white;
    }

    img,
    svg {
        width: 52px;
        height: 52px;
        margin-bottom: 13px;

        @media (max-width: 768px) {
            width: 42px;
            height: 42px;
            margin-bottom: 0;
        }
    }

    span {
        display: block;
        margin-bottom: 32px;
        @include adaptive-value("font-size", 20, 16, 1);
        font-weight: 600;
        line-height: 1.2;

        @media (max-width: 992px) {
            margin-bottom: 13px;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.3;
        opacity: 0.8;

        @media (max-width: 425px) {
            font-size: 15px;
        }
    }
}

.guarante-item {
    width: 191px;
    height: 263px;

    border: 1px solid #eaeaea;

    @media (max-width: 768px) {
        width: 149px;
        height: 205px;
    }

    img {
        height: 100%;
        object-fit: contain;
    }
}

.catalog-element {
    padding: 8px;
    border: 1px solid #e8e7e7;
    border-radius: 4px;
    min-height: 232px;
    background-color: $white;

    @media (any-hover: hover) {
        &:hover {
            p {
                color: $accent;
            }
        }
    }

    @media (max-width: 768px) {
        min-height: 195px;
    }

    img {
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        object-fit: contain;
        margin-bottom: 14px;
        display: block;

        height: 129px;

        @media (max-width: 768px) {
            height: 119px;
        }
    }

    p {
        transition: all 0.3s ease 0s;

        text-align: center;
        font-size: 15px;
        padding-bottom: 10px;

        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
}

.catalog-item {
    height: auto;
    padding: 20px 20px 32px 20px;
    min-height: 615px;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid #eaeaea;

    &.v2 {
        min-height: 574px;
        @media (max-width: 768px) {
            min-height: 288px;
        }
    }

    @media (max-width: 768px) {
        min-height: 367px;
        padding: 8px 8px 18px 8px;
    }

    // catalog-item__top

    &__top {
        position: relative;
        @include adaptive-value("height", 330, 119, 1);
        @include adaptive-value("margin-bottom", 40, 12, 1);
        display: block;
        border: 1px solid #eaeaea;
        border-radius: 2px;
    }

    // .catalog-item__img

    &__img {
        @include adaptive-value("height", 330, 117, 1);

        img {
            border-radius: 2px;
            height: 100%;
            object-fit: contain;
        }
    }

    // .catalog-item__info

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h5 {
            text-transform: initial;
            margin-bottom: 12px;
            color: $black;
            font-weight: 600;
            letter-spacing: -2px;
            @include adaptive-value("font-size", 20, 12, 1);

            @media (max-width: 768px) {
                margin-bottom: 8px;
                letter-spacing: 0;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.3;
            flex: 1 1 auto;
            @include adaptive-value("margin-bottom", 59, 16, 1);

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }

        ._btn-red {
            max-width: 131px;

            @media (max-width: 768px) {
                width: 100%;
                max-width: unset;
            }
        }

        ._btn-link {
            padding: 0;
            color: $accent;
            @include adaptive-value("font-size", 16, 12, 1);
            font-weight: 400;
            text-align: center;
            height: fit-content;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: #c02220;
                }
            }

            @media (max-width: 768px) {
                width: 100%;

                svg {
                    display: none;
                }
            }
        }
    }

    // .catalog-item__actions

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 14px;
        }

        @media (max-width: 425px) {
            ._btn {
                height: 32px;
                font-size: 12px;
                border-radius: 6px;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 12px;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        &._reverse {
            margin-top: 40px;

            @media (max-width: 1300px) {
                flex-direction: column-reverse;
                flex-wrap: wrap;
                justify-content: center;
                gap: 16px;

                ._btn {
                    width: 100%;
                    max-width: unset;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column-reverse;
                margin-top: 8px;
            }
        }
    }

    .accent {
        background-color: $accent;
        position: absolute;
        left: 13px;
        top: 13px;
        width: fit-content;
        height: fit-content;
        color: $white;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        pointer-events: none;

        padding: 10px 13px;
        border-radius: 4px;

        @media (max-width: 768px) {
            top: 6px;
            left: 6px;
            border-radius: 1px;
            padding: 4px 6px;
            font-size: 11px;
        }
    }

    .special-offer {
        position: absolute;
        width: fit-content;
        height: fit-content;
        right: 13px;
        top: 13px;
        color: $white;
        font-size: 13px;
        padding: 13px 16px;
        border-radius: 8px;
        border: 1px solid #fffbfb;
        background: #656565;
        pointer-events: none;

        @media (max-width: 768px) {
            right: 6px;
            top: 6px;
            border-radius: 2px;
            padding: 1px 5px;
            font-size: 7px;
        }

        span {
            @include adaptive-value("font-size", 24, 14, 1);
            font-weight: 600;
            line-height: 1.1;
        }
    }

    .country-flag {
        position: absolute;
        left: 13px;
        bottom: 13px;
        width: 47px;
        height: 28px;
        border: 1px solid #c9c9c9;
        border-radius: 4px;
        pointer-events: none;

        @media (max-width: 768px) {
            left: 6px;
            bottom: 6px;
            width: 26px;
            height: 16px;
            border-radius: 2px;
        }

        img {
            height: 100%;
        }
    }

    .download-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-color: #f7f7f7;
        flex: 0 0 auto;

        @media (any-hover: hover) {
            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }

        svg {
            transition: opacity 0.3s ease 0s;
            width: 19px;
            height: 24px;
            opacity: 0.6;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .price {
        display: flex;
        gap: 4px;

        // .price__old

        &__old {
            color: #8d8d8d;
            @include adaptive-value("font-size", 16, 12, 1);

            @media (min-width: 769px) {
                position: relative;
                top: -3px;
            }
        }

        // .price__new

        &__new {
            color: $accent;
            @include adaptive-value("font-size", 24, 20, 1);
            font-weight: 600;
        }
    }
}
