.grid-catalog__item {
    display: block;

    @media (any-hover: hover) {
        &:hover {
            &:after {
                opacity: 1;
            }
        }
    }

    @media (min-width: 769px) {
        position: relative;
        padding-bottom: 69.38%;

        &:before {
            position: absolute;
            content: "";
            inset: 0;
            background-color: rgba(0, 0, 0, 0.3);
            z-index: 2;
        }

        &:after {
            transition: all 0.3s ease 0s;
            position: absolute;
            content: "";
            inset: 0;
            opacity: 0;
            transition: opacity 0.3s ease 0s;
            background: linear-gradient(0deg, rgba(213, 38, 35, 0.7) 0%, rgba(213, 38, 35, 0.7) 100%);
            z-index: 2;
        }
    }

    @media (max-width: 768px) {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #e8e7e7;
        padding: 16px 20px;
    }

    div {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @media (max-width: 768px) {
            display: none;
        }

        picture {
            width: 100%;
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    span {
        display: flex;
        align-items: center;

        gap: 18px;
        width: 100%;

        @media (min-width: 769px) {
            position: absolute;
            z-index: 3;
            padding: 10px;

            justify-content: center;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        label {
            text-align: center;
            color: $white;
            font-size: 20px;
            font-weight: 600;
            text-transform: uppercase;

            @media (max-width: 768px) {
                color: $text;
                text-align: left;
                font-size: 14px;
                font-weight: 500;
            }
        }

        img,
        svg {
            width: 30px;
            height: 30px;
            flex: 0 0 auto;

            @media (min-width: 769px) {
                display: none;
            }
        }
    }
}

.partners-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include adaptive-value("gap", 50, 20, 1);

    @media (any-hover: hover) {
        &:hover {
            img,
            svg {
                filter: grayscale(0);
            }
        }
    }

    div {
        height: 73px;

        display: flex;
        align-items: center;
        justify-content: center;

        picture,
        img,
        svg {
            width: auto;
            max-height: 100%;
        }

        img,
        svg {
            filter: grayscale(1);
            transition: filter 0.3s ease 0s;
        }
    }

    p {
        color: $text;
        text-align: center;
        @include adaptive-value("font-size", 15, 13, 1);

        @media (max-width: 768px) {
            br {
                display: none;
            }
        }
    }
}

.advantages-item {
    @media (max-width: 992px) {
        display: flex;
        gap: 16px;
    }

    * {
        color: $white;
    }

    img,
    svg {
        width: 52px;
        height: 52px;
        margin-bottom: 13px;

        @media (max-width: 768px) {
            width: 42px;
            height: 42px;
            margin-bottom: 0;
        }
    }

    span {
        display: block;
        margin-bottom: 32px;
        @include adaptive-value("font-size", 20, 16, 1);
        font-weight: 600;
        line-height: 1.2;

        @media (max-width: 992px) {
            margin-bottom: 13px;
        }
    }

    p {
        font-size: 16px;
        line-height: 1.3;
        opacity: 0.8;

        @media (max-width: 425px) {
            font-size: 15px;
        }
    }
}

.guarante-item {
    width: 191px;
    height: 263px;

    border: 1px solid #eaeaea;

    @media (max-width: 768px) {
        width: 149px;
        height: 205px;
    }

    img {
        height: 100%;
        object-fit: contain;
    }
}

.catalog-element {
    padding: 8px;
    border: 1px solid #e8e7e7;
    border-radius: 4px;
    min-height: 232px;
    background-color: $white;

    @media (any-hover: hover) {
        &:hover {
            p {
                color: $accent;
            }
        }
    }

    @media (max-width: 768px) {
        min-height: 195px;
    }

    img {
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        object-fit: contain;
        margin-bottom: 14px;
        display: block;

        height: 129px;

        @media (max-width: 768px) {
            height: 119px;
        }
    }

    p {
        transition: all 0.3s ease 0s;

        text-align: center;
        font-size: 15px;
        padding-bottom: 10px;

        @media (max-width: 768px) {
            font-size: 13px;
        }
    }
}

.catalog-item {
    height: auto;
    padding: 20px 20px 32px 20px;
    background-color: $white;
    border-radius: 4px;
    border: 1px solid #eaeaea;

    display: flex;
    flex-direction: column;

    &.v2 {
        min-height: 574px;
        @media (max-width: 768px) {
            min-height: 288px;
        }
    }

    @media (max-width: 768px) {
        min-height: 367px;
        padding: 8px 8px 18px 8px;
    }

    // catalog-item__top

    &__top {
        position: relative;
        @include adaptive-value("height", 330, 119, 1);
        @include adaptive-value("margin-bottom", 40, 12, 1);
        display: block;
        border: 1px solid #eaeaea;
        border-radius: 2px;
    }

    // .catalog-item__img

    &__img {
        @include adaptive-value("height", 330, 117, 1);

        picture {
            width: 100%;
            height: 100%;
        }

        img {
            border-radius: 2px;
            height: 100%;
            object-fit: contain;
        }
    }

    // .catalog-item__info

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1 auto;

        h5 {
            text-transform: initial;
            margin-bottom: 12px;
            color: $black;
            font-weight: 600;
            letter-spacing: -0.02em;
            @include adaptive-value("font-size", 20, 12, 1);

            @media (max-width: 768px) {
                margin-bottom: 8px;
                letter-spacing: 0;
            }
        }

        p {
            font-size: 14px;
            line-height: 1.3;
            flex: 1 1 auto;
            @include adaptive-value("margin-bottom", 59, 16, 1);

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }

        ._btn-red {
            max-width: 131px;

            @media (max-width: 768px) {
                width: 100%;
                max-width: unset;
            }
        }

        ._btn-link {
            padding: 0;
            color: $accent;
            @include adaptive-value("font-size", 16, 12, 1);
            font-weight: 400;
            text-align: center;
            height: fit-content;
            transition: all 0.3s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: #c02220;
                }
            }

            @media (max-width: 768px) {
                width: 100%;

                svg {
                    display: none;
                }
            }
        }
    }

    // .catalog-item__actions

    &__actions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            flex-direction: column;
            gap: 14px;
        }

        @media (max-width: 425px) {
            ._btn {
                height: 32px;
                font-size: 12px;
                border-radius: 6px;
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 12px;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        &._reverse {
            margin-top: 40px;

            @media (max-width: 1300px) {
                flex-direction: column-reverse;
                flex-wrap: wrap;
                justify-content: center;
                gap: 16px;

                ._btn {
                    width: 100%;
                    max-width: unset;
                }
            }

            @media (max-width: 768px) {
                flex-direction: column-reverse;
                margin-top: 8px;
            }
        }
    }

    .accent {
        background-color: $accent;
        position: absolute;
        left: 13px;
        top: 13px;
        width: fit-content;
        height: fit-content;
        color: $white;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        pointer-events: none;

        padding: 10px 13px;
        border-radius: 4px;

        @media (max-width: 768px) {
            top: 6px;
            left: 6px;
            border-radius: 1px;
            padding: 4px 6px;
            font-size: 11px;
        }
    }

    .special-offer {
        position: absolute;
        width: fit-content;
        height: fit-content;
        right: 13px;
        top: 13px;
        color: $white;
        font-size: 13px;
        padding: 13px 16px;
        border-radius: 8px;
        border: 1px solid #fffbfb;
        background: #656565;
        pointer-events: none;

        @media (max-width: 768px) {
            right: 6px;
            top: 6px;
            border-radius: 2px;
            padding: 1px 5px;
            font-size: 7px;
        }

        span {
            @include adaptive-value("font-size", 24, 14, 1);
            font-weight: 600;
            line-height: 1.1;
        }
    }

    .country-flag {
        position: absolute;
        left: 13px;
        bottom: 13px;
        width: 47px;
        height: 28px;
        border: 1px solid #c9c9c9;
        border-radius: 4px;
        pointer-events: none;

        @media (max-width: 768px) {
            left: 6px;
            bottom: 6px;
            width: 26px;
            height: 16px;
            border-radius: 2px;
        }

        img {
            height: 100%;
        }
    }

    .download-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        background-color: #f7f7f7;
        flex: 0 0 auto;

        @media (any-hover: hover) {
            &:hover {
                svg {
                    opacity: 1;
                }
            }
        }

        svg {
            transition: opacity 0.3s ease 0s;
            width: 19px;
            height: 24px;
            opacity: 0.6;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .price {
        display: flex;
        gap: 4px;

        // .price__old

        &__old {
            color: #8d8d8d;
            @include adaptive-value("font-size", 16, 12, 1);

            @media (min-width: 769px) {
                position: relative;
                top: -3px;
            }
        }

        // .price__new

        &__new {
            color: $accent;
            @include adaptive-value("font-size", 24, 20, 1);
            font-weight: 600;
        }
    }
}

.diller-item {
    display: flex;
    gap: 24px;
    background-color: $white;

    @media (min-width: 769px) {
        border-radius: 10px;
        border: 1px solid #eaeaea;
        padding: 28px 36px;
    }

    @media (max-width: 768px) {
        border-bottom: 1px solid #eaeaea;
        flex-direction: column;
        padding: 20px;
        width: 100vw;
        margin-left: -16px;
    }

    // .diller-item__left

    &__left {
        @media (min-width: 769px) {
            max-width: 355px;
            flex: 1 1 auto;
        }

        p {
            color: $black;
            font-size: 18px;
            font-weight: 500;
            display: block;
            margin-bottom: 17px;
            text-align: left;

            @media (max-width: 768px) {
                font-size: 17px;
                margin-bottom: 8px;
            }
        }

        label {
            display: block;
            color: #a09f9f;
            font-size: 12px;
        }
    }

    // .diller-item__right

    &__right {
        @media (min-width: 769) {
            flex: 1 1 auto;
        }

        & > :not(:last-child) {
            margin-bottom: 16px;

            @media (max-width: 768px) {
                margin-bottom: 8px;
            }
        }

        div {
            display: flex;
            align-items: center;
            gap: 6px;

            div {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #f3f3f3;

                img,
                svg {
                    flex: 0 0 auto;
                    width: fit-content;
                }
            }

            a {
                @media (max-width: 768px) {
                    font-size: 15px;
                }

                button {
                    color: $accent;
                    font-size: 14px;

                    @media (min-width: 769px) {
                        margin-top: 5px;
                    }
                }
            }

            &._white {
                color: #a09f9f;
                margin-top: 2px;
                padding-left: 36px;
            }
        }
    }
}

.step-item {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fff;
    padding: 30px 33px;
    height: auto;

    @media (max-width: 768px) {
        padding: 18px 20px;
    }

    // .step-item__top

    &__top {
        display: flex;
        justify-content: space-between;
        width: 100%;
        @include adaptive-value("margin-bottom", 102, 35, 1);

        img {
            width: 68px;
            height: 68px;

            @media (max-width: 768px) {
                width: 38px;
                height: 38px;
            }
        }

        label {
            color: #bdbdbd;
            font-size: 16px;
            font-weight: 600;

            @media (max-width: 768px) {
                font-size: 13px;
            }
        }
    }

    // .step-item__bottom

    &__bottom {
        p {
            color: $black;
            font-size: 20px;
            font-weight: 600;

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }
}

.promo-item {
    border-radius: 4px;
    border: 1px solid #eaeaea;
    height: auto;
    transition: border-color 0.3s ease 0s;
    overflow: hidden;

    @media (any-hover: hover) {
        &:hover {
            border-color: $accent;
            .promo-item__info {
                max-height: 100%;
                opacity: 1;
            }
        }
    }

    // .promo-item__img

    &__img {
        margin: 20px 15px;
        border-bottom: 1px solid #eaeaea;
        @include adaptive-value("height", 283, 180, 1);
        position: relative;
        border-radius: 2px;

        @media (max-width: 768px) {
            margin: 16px;
        }

        picture {
            height: 100%;
        }

        img {
            border-radius: 2px;
            height: 100%;
            object-fit: cover;
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 12px;
        color: $accent;

        font-size: 20px;
        line-height: 1.3;
        letter-spacing: -0.4px;
        padding: 20px;

        @media (max-width: 768px) {
            justify-content: space-between;
            padding: 16px;
            font-size: 15px;
            letter-spacing: 0;
        }

        label {
            pointer-events: none;
        }

        svg {
            width: 15px;
            height: 15px;
            flex: 0 0 auto;
        }
    }

    // .promo-item__info

    &__info {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 20px;
        max-height: 0;
        opacity: 0;
        transition: all 0.3s ease 0s;

        p {
            font-size: 20px;
        }
    }
}

.other-item {
    display: flex;
    background-color: $white;
    border-radius: 10px;
    border: 1px solid #eaeaea;

    @media (min-width: 769px) {
        padding: 20px;
        gap: 50px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 0px;
    }

    // .other-item__left

    &__left {
        max-width: 383px;
        @include adaptive-value("height", 283, 230, 1);

        @media (max-width: 768px) {
            max-width: 100%;
            margin: 16px 16px 20px 16px;
        }

        picture {
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .other-item__right

    &__right {
        @media (max-width: 768px) {
            padding: 0 16px 20px 16px;
        }

        span {
            display: block;
            margin-bottom: 20px;
            color: $black;
            font-weight: 600;
            line-height: 1.3;
            letter-spacing: -0.48px;
            @include adaptive-value("font-size", 24, 18, 1);

            @media (max-width: 768px) {
                letter-spacing: 0;
                margin-bottom: 12px;
            }
        }

        p,
        ol {
            @include adaptive-value("font-size", 20, 15, 1);
            line-height: 1.3;
        }

        p {
        }

        ol {
            padding-left: 1em;
        }

        ol,
        li {
            list-style: inherit;
        }
    }
}

.news-item {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    transition: border-color 0.3s ease 0s;

    @media (any-hover: hover) {
        &:hover {
            border-color: #d52623;
        }
    }

    @media (max-width: 768px) {
        padding: 14px 16px;
    }

    // .news-item__top

    &__top {
        display: block;
        position: relative;
        border-radius: 2px;
        overflow: hidden;
        margin-bottom: 35px;

        @media (max-width: 768px) {
            margin-bottom: 25px;
        }

        label {
            position: absolute;
            right: 0;
            top: 0;
            background-color: $accent;

            border-radius: 4px;
            padding: 9px 13px;

            border-radius: 4px;
            color: $white;
            text-align: center;
            font-size: 14px;

            @media (max-width: 768px) {
                padding: 7px 10px;
                border-radius: 2px;
            }
        }
    }

    // .news-item__img

    &__img {
        height: 215px;

        @media (max-width: 768px) {
            height: 189px;
        }

        picture {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
            border-radius: 4px;

            @media (max-width: 768px) {
                border-radius: 2px;
            }
        }
    }

    // .news-item__bottom

    &__bottom {
        a {
            display: block;
            @include adaptive-value("margin-bottom", 38, 2, 1);

            h5 {
                color: $accent;
                @include adaptive-value("font-size", 20, 15, 1);
                font-weight: 400;
                line-height: 1.3;
                letter-spacing: -0.4px;
                text-transform: initial;

                @media (max-width: 768px) {
                    letter-spacing: 0;
                }
            }
        }

        time {
            font-size: 14px;
            letter-spacing: -0.28px;

            @media (max-width: 758px) {
                font-size: 12px;
                letter-spacing: -0.24px;
            }
        }
    }
}

.contact-item {
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 34px;
    height: 100%;
    width: 100%;

    @media (max-width: 768px) {
        padding: 16px;
    }

    // .contact-item__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 42px;

        @media (max-width: 768px) {
            margin-bottom: 24px;
        }

        label {
            color: $black;
            font-weight: 600;
            font-size: 22px;
            max-width: 80%;
            width: 100%;

            @media (max-width: 768px) {
                font-size: 17px;
                line-height: 1.4;
            }
        }

        div {
            width: 52px;
            height: 52px;
            flex: 0 0 auto;
            background-color: #f7f7f7;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 768px) {
                width: 41px;
                height: 41px;
            }

            svg {
                width: 31px;
                height: 31px;
                flex: 0 0 auto;

                @media (max-width: 768px) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    // .contact-item__bottom

    &__bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;

        @media (max-width: 768px) {
            gap: 15px;
        }

        div {
            * {
                @media (max-width: 768px) {
                    font-size: 15px;
                }
            }

            p {
                display: block;
                margin-bottom: 10px;
                color: $black;
                font-weight: 600;

                @media (max-width: 768px) {
                    margin-bottom: 8px;
                }
            }

            a {
                color: $accent;
                line-height: 1.4;

                span {
                    color: $text;
                }
            }
        }
    }
}

.coating-item {
    span {
        display: block;
        color: $accent;
        margin-bottom: 20px;
        font-size: 24px;
        line-height: 1.4;

        @media (max-width: 768px) {
            font-size: 16px;
            margin-bottom: 16px;
        }
    }

    div {
        @include adaptive-value("height", 354, 192, 1);

        picture {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.map-item {
    background-color: $white;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    padding: 17px 23px 11px 23px;

    transition: all 0.3s ease 0s;

    @media (max-width: 768px) {
        padding: 19px 17px 24px 17px;
        background-color: unset;
        width: 100vw;
        margin-left: -16px;
        border-bottom: 1xp solid #efefef;

        &:first-child {
            border-top: 1xp solid #efefef;
        }
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: #f3f3f3;

            a .icon {
                background-color: $white;
            }
        }
    }

    // .map-item__top

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        h4 {
            font-size: 17px;
            font-weight: 500;
        }

        span {
            font-size: 12px;
            color: #a09f9f;
        }
    }

    ol {
        margin: 18px 0 24px 0;
        font-size: 16px;
        color: $text;

        @media (max-width: 768px) {
            margin: 24px 0 18px 0;
        }

        a {
            display: flex;
            align-items: center;
            gap: 6px;

            .icon {
                width: 30px;
                height: 30px;
                flex: 0 0 auto;
                border-radius: 50%;
                background-color: #f3f3f3;

                display: flex;
                align-items: center;
                justify-content: center;

                transition: all 0.3s ease 0s;

                img,
                svg {
                    height: 19px;
                    max-width: 14px;
                }
            }
        }

        & > :not(:last-child) {
            margin-bottom: 10px;
        }
    }

    // .map-item__bottom

    &__bottom {
        display: flex;
        gap: 30px;

        a {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 4px;

            font-size: 14px;
            color: $accent;

            svg {
                flex: 0 0 auto;
                fill: currentColor;
                width: 10px;
            }
        }
    }
}
