.catalog-v1 {
    .text-box {
        ol {
            margin-bottom: 25px;

            @media (max-width: 768px) {
                margin-bottom: 15px;
            }
        }

        li:before {
            background-color: $text;
            border-radius: 100px;
            width: 3px;
            height: 3px;
            flex: 0 0 auto;
        }
    }
}

.catalog-sidebar {
    flex: 0 0 auto;
    width: 275px;
    @include adaptive-value("padding-top", 48, 24, 1);

    @media (max-width: 1024px) {
        display: none;
    }

    // .catalog-sidebar__title

    &__title {
        background-color: $accent;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0px 20px;

        height: 48px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 14px;

        img {
            width: 21px;
            height: 21px;
            flex: 0 0 auto;
        }

        span {
            color: $white;
            font-size: 16px;
            font-weight: 600;
        }
    }

    // .catalog-sidebar__menu

    &__menu {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }

    nav {
        & > ul {
            & > li {
                border-bottom: 1px solid #eaeaea;

                & > a {
                    padding: 16px 0;
                }
            }
        }

        ul {
            li {
                &:has(ul) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: flex-start;

                    a {
                        max-width: calc(100% - 25px);
                    }

                    &[data-open] {
                        ul {
                            max-height: 100vh;
                        }

                        svg {
                            transform: rotate(180deg);
                        }

                        & > a {
                            font-weight: 600;
                        }
                    }

                    ul {
                        width: 100%;
                        flex: 0 0 auto;

                        font-size: 14px;

                        transition: max-height 0.3s ease 0s;
                        max-height: 0;
                        overflow: hidden;

                        & > :not(:last-child) {
                            margin-bottom: 8px;
                        }

                        & > :last-child {
                            margin-bottom: 16px;
                        }
                    }
                }

                button {
                    transition: all 0.3s ease 0s;
                    flex: 0 0 auto;
                    width: 25px;
                    padding: 19px 0 16px;

                    svg {
                        width: 9px;
                        height: 13px;
                        flex: 0 0 auto;
                        fill: $accent;
                        margin-left: auto;

                        transition: all 0.3s ease 0s;
                    }
                }
            }

            a {
                display: block;
                transition: color 0.3s ease 0s;

                @media (any-hover: hover) {
                    &:hover {
                        color: $accent;
                    }
                }
            }
        }

        & > ul > li [aria-current="page"] {
            font-weight: 600;
        }

        ul ul [aria-current="page"] {
            color: red;
        }
    }
}

.catalog {
    // .catalog-content

    &-content {
        flex: 1 1 auto;
        @include adaptive-value("padding-top", 48, 24, 1);
        position: relative;

        @media (min-width: 1025px) {
            padding-bottom: 48px;
            border-left: 1px solid #ebebeb;
            @include adaptive-value("padding-left", 66, 0, 1);
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100vw;
            height: 105%;
            background-color: #fafafa;
            z-index: -1;

            @media (max-width: 1024px) {
                height: 140%;
                left: -16px;
            }
        }

        // .catalog-content__flex

        &__flex {
            width: 100%;
            position: relative;
            @include adaptive-value("margin-bottom", 80, 60, 1);

            display: flex;
            gap: 40px;

            @media (max-width: 768px) {
                display: block;

                & > :not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }

        // .catalog-content__descr

        &__descr {
            p,
            a,
            li {
                font-size: 16px !important;

                @media (max-width: 768px) {
                    font-size: 15px !important;
                }
            }

            ul {
                & > :not(:last-child) {
                    margin-bottom: 20px;
                }

                li {
                    p {
                        margin-bottom: 0;
                    }

                    a {
                        color: $accent;
                    }
                }
            }
        }

        // .catalog-content__slider

        &__slider {
            width: 50%;
            max-width: 441px;

            @media (max-width: 768px) {
                max-width: 100%;
                width: 100%;
            }

            // .catalog-content__slider-main

            &-main {
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                width: 100%;

                button {
                    margin: 0 -22px;
                    z-index: 3;

                    @media (max-width: 768px) {
                        display: none;
                    }
                }

                @media (max-width: 768px) {
                    margin-bottom: 8px;
                }

                .swiper-slide {
                    position: relative;
                    border-radius: 2px;
                    border: 1px solid #e8e7e7;

                    @include adaptive-value("height", 356, 277, 1);
                    border-radius: 10px;
                    min-height: 277px;
                    overflow: hidden;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }

                    picture {
                        width: 100%;
                        height: 100%;
                    }

                    img {
                        border-radius: 2px;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            // .product__slider-thumb

            [thumbsSlider] {
                .swiper-slide {
                    cursor: pointer;
                    height: 84px;
                    position: relative;
                    border-radius: 6px;
                    overflow: hidden;

                    @media (max-width: 768px) {
                        height: 65px;
                    }

                    &:after {
                        position: absolute;
                        content: "";
                        left: 0;
                        top: 0;
                        background-color: #d9d9d9;
                        width: 100%;
                        height: 100%;
                        opacity: 0.7;
                    }

                    picture {
                        height: 100%;
                    }

                    img {
                        border-radius: 2px;
                        width: 100%;
                        height: 100%;
                    }

                    &.swiper-slide-thumb-active {
                        border: 1px solid #d52623;

                        &:after {
                            opacity: 0;
                        }
                    }
                }
            }

            ._btn {
                width: 100%;

                &:not(:last-child) {
                    margin-top: 40px;
                    margin-bottom: 12px;

                    @media (max-width: 768px) {
                        margin-top: 24px;
                    }
                }
            }
        }

        // .catalog-content__info

        &__info {
        }

        // .catalog-content__tabs

        &__tabs {
            @media (max-width: 768px) {
                width: 100vw;
                overflow: auto;
                margin-left: -$padding + px;
                padding-inline: 16px;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            // .catalog-content__tabs-content

            &-content {
            }
        }

        .text-box {
            margin-top: 60px;

            @media (max-width: 768px) {
                margin-top: 40px;
            }
        }

        .grid + .catalog-content__info {
            margin-top: 60px;

            @media (max-width: 768px) {
                margin-top: 40px;
            }
        }
    }

    // .catalog-tags

    &-tags {
        border-radius: 10px;
        border: 1px solid #eaeaea;
        padding: 24px 20px;
        margin-bottom: 24px;

        @media (max-width: 1024px) {
            padding: 20px 16px;
            margin-bottom: 20px;
        }

        div {
            display: flex;
            align-items: center;

            @media (max-width: 1024px) {
                display: block;
            }

            ul {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 8px;

                &:not(._open) {
                    & > :nth-child(n + 6) {
                        display: none;
                    }
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px 20px;
                    border-radius: 10px;
                    border: 1px solid rgba(213, 38, 35, 0.5);

                    color: $accent;
                    text-align: center;
                    font-size: 15px;
                    transition: border-color 0.3s ease 0s;

                    @media (max-width: 768px) {
                        font-size: 13px;
                        padding: 8px 14px;
                    }

                    @media (any-hover: hover) {
                        &:hover {
                            border-color: $accent;
                        }
                    }
                }
            }
        }

        label {
            display: block;
            margin-right: 12px;
            flex: 0 0 auto;

            color: $black;
            font-size: 15px;

            @media (max-width: 1024px) {
                font-size: 13px;
                margin-bottom: 12px;
            }
        }

        ._btn {
            margin-top: 24px;
            border-top: 1px solid #eaeaea;
            width: 100%;
            height: auto !important;
            padding-top: 16px;

            color: $black;
            font-size: 13px;
            font-weight: 400;

            transition: color 0.3s ease 0s;

            @media (max-width: 1024px) {
                margin-top: 16px;
            }

            @media (any-hover: hover) {
                &:hover {
                    color: $accent;

                    svg {
                        transform: rotate(180deg);
                    }
                }
            }

            &._active {
                color: $accent;

                svg {
                    transform: rotate(180deg);
                }
            }

            svg {
                fill: $accent;
                margin-bottom: 0;

                transition: all 0.3s ease 0s;
            }
        }
    }

    // .catalog-shop

    &-shop {
        @media (min-width: 1025px) {
            border-top: 1px solid #ebebeb;
        }
    }

    // .catalog-search

    &-search {
        .catalog-content {
            &:after {
                display: none;
            }
        }

        // .catalog-search__title

        &__title {
            margin-bottom: 20px;

            @media (max-width: 768px) {
                font-size: 15px;
                margin-bottom: 16px;
            }

            label,
            span {
                color: $text;
            }
        }

        .search {
            width: 100%;
            max-width: none;
            margin-bottom: 54px;

            @media (max-width: 768px) {
                margin-bottom: 40px;
            }
        }

        // .catalog-search__results

        &__results {
        }

        .nothing-found {
            @include adaptive-value("margin-top", 100, 40, 1);

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            gap: 12px;
            max-width: 480px;
            margin-inline: auto;

            h4 {
                @include adaptive-value("font-size", 30, 20, 1);
            }

            p {
                line-height: 1.3;
            }
        }
    }
}

.tab-content__downloadfile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptive-value("font-size", 16, 14, 1);
    padding: 20px 0;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.3s ease 0s;
    gap: 10px;

    @media (max-width: 768px) {
        padding: 17px 0;
    }

    @media (any-hover: hover) {
        &:hover {
            background-color: #f7f7f7;
            span {
                color: $accent;
            }
        }
    }

    span {
        transition: all 0.3s ease 0s;
        flex: 1 1 auto;
    }

    p {
        flex: 0 0 auto;
        pointer-events: none;
        display: flex;
        align-items: center;
        gap: 9px;

        color: $accent;

        @media (min-width: 426px) {
            min-width: 95px;
        }

        label {
            flex: 0 0 auto;
            @media (max-width: 425px) {
                display: none;
            }
        }

        svg {
            width: 14px;
            height: 14px;
            flex: 0 0 auto;
            fill: currentColor;
        }
    }
}

.active__filters {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 25px;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 1024px) {
        flex-wrap: nowrap;
        width: 100vw;
        overflow-x: auto;
        padding: 0 16px;
        margin-left: -16px;
    }

    @media (max-width: 768px) {
        gap: 4px;
        margin-bottom: 16px;
    }

    // .active__filters-body
    button {
        font-size: 14px;
        padding: 0.4em 1em;
        color: $white;
        border-radius: 10px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        line-height: 1.6;

        @media (max-width: 1024px) {
            flex: 0 0 auto;
        }

        @media (max-width: 768px) {
            font-size: 12px;
        }

        &:after {
            content: "";
            display: block;
            flex: 0 0 auto;
            width: 0.8em;
            height: 0.8em;
            background-image: url("@img/icons/close.svg");
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }

    .reset-filters {
        background-color: $black;
        color: $white;
    }

    // .active__filters-item

    &-item {
        background-color: $accent;
        color: $white;
    }
}

.material-schema {
    img,
    picture {
        width: auto;
    }
}

.tab-info-title {
    text-transform: unset;
    color: initial;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 1em;
}

.material-chars,
.material-schema {
    margin-bottom: 30px;
}

.material-chars._chars ol li span {
    background-color: #fafafa;
}

.inner-tabs {
    display: flex;
    gap: 25px;

    padding: 25px 30px;
    background-color: $white;
    border-radius: 10px;

    @media (max-width: 1024px) {
        flex-direction: column;
        padding: 25px 15px 35px 15px;
    }

    // .inner-tabs__tabs

    &__tabs {
        width: 100%;

        @media (min-width: 1025px) {
            max-width: 240px;
            padding-right: 20px;
            border-right: 1px solid #e8e7e7;

            & > :not(:last-child) {
                margin-bottom: 20px;
            }
        }

        @media (max-width: 1024px) {
            display: flex;
            gap: 5px;
            flex-wrap: wrap;
        }

        button {
            font-size: 14px;
            text-align: left;

            &._active {
                color: $accent;
                font-weight: 600;

                @media (max-width: 1024px) {
                    background-color: $accent;
                    color: $white;
                    font-weight: 400;
                }
            }

            @media (max-width: 1024px) {
                font-size: 13px;
                padding: 3px 6px;
                border: 1px solid currentColor;
                border-radius: 6px;
            }
        }
    }

    // .inner-tabs__content

    &__content {
        flex: 1 1 auto;

        .grid {
            @media (max-width: 1200px) and (min-width: 1025px) {
                grid-template-columns: 1fr;
            }

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }
        }

        // .inner-tabs__content-image

        &-image {
            .img {
                img,
                picture {
                    border-radius: 10px;
                    height: auto;
                }
            }

            ._btn {
                width: 100%;
                margin-top: 20px;
            }
        }

        // .inner-tabs__content-info

        &-info {
            h3 {
                font-size: 18px;
                color: $accent;
                margin-bottom: 20px;
            }

            ._chars {
                font-size: 14px;

                ol {
                    & > :not(:last-child) {
                        margin-bottom: 14px;
                    }

                    li {
                        & > :last-child {
                            font-weight: 500;
                        }
                    }
                }
            }

            p {
                margin-top: 20px;
                font-size: 14px;
            }

            .colors {
                margin-top: 20px;

                span {
                    display: block;
                    margin-bottom: 20px;
                    font-size: 16px;
                    font-weight: 600;
                    color: $black;
                }

                & > div {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 3px;

                    div {
                        width: 25px;
                        height: 25px;
                        flex: 0 0 auto;
                        
                        img,
                        picture {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}
