.catalog-menu {
    @media (min-width: 769px) {
        position: fixed;
        left: 0;
        top: 131px;
        width: 100%;
        height: 100vh;
        z-index: 15;
    }

    pointer-events: none;
    opacity: 0;

    background-color: $white;

    transition: all 0.3s ease 0s;

    @media (max-width: 768px) {
        display: grid;
        grid-template-rows: 0fr;
        height: 0;
    }

    &._open {
        pointer-events: all;
        opacity: 1;

        @media (min-width: 769px) {
            .catalog-menu-body {
                transform: translate(0, 0);
            }
        }

        @media (max-width: 768px) {
            grid-template-rows: 1fr;
        }
    }

    // .catalog-menu-container

    &-container {
    }

    // .catalog-menu-body

    &-body {
        display: flex;

        transition: all 0.3s ease 0s;

        @media (min-width: 769px) {
            transform: translate(0, -131px);
            @include adaptive-value("gap", 62, 0, 1);
        }

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    // .catalog-menu-left

    &-left {
        padding-top: 40px;
        border-right: 1px solid #ebebeb;
        min-width: 280px;
        padding-bottom: 50px;

        @media (max-width: 768px) {
            padding-top: 25px;
            padding-bottom: 25px;
            border-right: 0;
        }

        nav {
            width: 100%;

            @media (min-width: 769px) {
                max-width: 308px;
            }

            @media (max-width: 768px) {
                width: 100vw;
                margin-left: -$padding + px;
                padding-inline: 16px;
                overflow-x: auto;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;

                @media (max-width: 768px) {
                    flex-direction: row;
                    justify-content: flex-start;
                    gap: 30px;
                    width: fit-content;
                }

                li {
                    transition: all 0.3s ease 0s;

                    @media (any-hover: hover) {
                        &:hover {
                            &:after {
                                max-height: 100%;
                            }

                            a {
                                color: $accent;
                                background-color: #fafafa;
                            }
                        }
                    }

                    &._active {
                        &:after {
                            max-height: 100%;
                        }

                        a {
                            @media (min-width: 769px) {
                                background-color: #fafafa;
                            }

                            color: $accent;
                        }
                    }

                    @media (min-width: 769px) {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        position: relative;

                        &:after {
                            position: absolute;
                            content: "";
                            right: 0;
                            top: 0;
                            height: 100%;
                            width: 2px;
                            max-height: 0;
                            background-color: $accent;
                            transition: all 0.3s ease 0s;
                        }
                    }

                    a {
                        transition: all 0.3s ease 0s;
                        width: 100%;
                        color: $black;
                        font-size: 18px;
                        font-weight: 600;
                        padding: 17px 17px 17px 21px;
                        border-radius: 10px 0 0 10px;

                        display: block;

                        @media (max-width: 768px) {
                            width: fit-content;
                            font-size: 20px;
                            padding: 0;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    // .catalog-menu-right

    &-right {
        @media (min-width: 769px) {
            padding-top: 40px;

            padding-bottom: 50px;

            height: calc(100vh - 131px);
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 10px;
                background-color: #ebebeb;
            }

            &::-webkit-scrollbar-thumb {
                background: $accent;
            }
        }

        h3 {
            color: $black;
            font-weight: 600;
            margin-bottom: 40px;
            @include adaptive-value("font-size", 28, 20, 1);

            @media (max-width: 768px) {
                display: none;
            }
        }

        nav {
            ul {
                display: flex;
                flex-direction: column;
                gap: 7px;
                transition: all 0.3s ease 0s;

                li {
                    svg {
                        width: 10px;
                        height: 14px;
                        flex: 0 0 auto;
                        margin-left: auto;
                        fill: $accent;
                        transition: all 0.3s ease 0s;
                    }

                    button {
                        width: 40px;

                        @media (min-width: 769px) {
                            display: none;
                        }
                    }

                    @media (max-width: 768px) {
                        display: flex;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        a {
                            max-width: 90%;
                        }

                        &[data-open] {
                            svg {
                                transform: rotate(-180deg);
                            }

                            ul {
                                max-height: 100vh;
                            }
                        }
                    }
                }
            }

            & > ul {
                & > li {
                    margin-bottom: 30px;

                    @media (max-width: 768px) {
                        margin-bottom: 0;
                        padding: 16px 0;
                        border-bottom: 1px solid #ebebeb;
                    }

                    a {
                        color: $black;
                        font-size: 16px;
                        font-weight: 600;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        &:not(:last-child) {
                            margin-bottom: 20px;

                            @media (max-width: 768px) {
                                margin-bottom: 0;
                            }
                        }
                    }

                    ul {
                        @media (max-width: 768px) {
                            margin-bottom: 0;
                            max-height: 0;
                            overflow: hidden;
                            flex: 0 0 100%;

                            transition: all 0.3s ease 0s;

                            & > :first-child {
                                margin-top: 16px;
                            }
                        }
                    }

                    li {
                        a {
                            color: #736b6b;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 1.5;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }

        .grid-3 {
            @include adaptive-value("gap", 48, 0, 1);

            @media (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    &#catalog-menu-shop {
        height: calc(100% - 132px);
        overflow-y: scroll;
        padding-bottom: 100px;
        z-index: 18;

        @media (min-width: 1025px) {
            &::-webkit-scrollbar {
                width: 10px;
                background-color: #ebebeb;
            }

            &::-webkit-scrollbar-thumb {
                background: $accent;
            }
        }

        @media (max-width: 1024px) {
            position: fixed;
            left: 0;
            top: 85px;
            width: 100%;
            z-index: 15;
            pointer-events: none;
            opacity: 0;
            height: calc(100% - 85px);

            &._open {
                pointer-events: all;
                opacity: 1;
            }
        }

        .catalog-menu-body {
            display: block;
            padding-top: 30px;

            @media (max-width: 1024px) {
                padding-top: 20px;
            }

            h3 {
                display: block;
                margin-bottom: 30px;

                color: #0b0a0a;
                text-align: center;
                font-size: 28px;
                font-weight: 600;
                width: fit-content;

                @media (max-width: 1024px) {
                    display: none;
                }
            }
        }

        .grid {
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            & > ul {
                width: 100%;

                @media (min-width: 769px) {
                    max-width: 256px;
                }

                & > :not(:last-child) {
                    margin-bottom: 24px;

                    @media (max-width: 768px) {
                        margin-bottom: 16px;
                    }
                }

                & > li {
                    @media (max-width: 768px) {
                        &:not(:last-child) {
                            padding-bottom: 16px;
                            border-bottom: 1px solid #eaeaea;
                        }

                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        ul {
                            transition: all 0.3s ease 0s;
                            flex: 0 0 100%;
                            width: 100%;

                            overflow: hidden;
                            opacity: 0;
                            pointer-events: none;
                            visibility: hidden;
                            max-height: 0;

                            & > :first-child {
                                margin-top: 16px;
                            }
                        }

                        &[data-open] {
                            button {
                                svg {
                                    transform: rotate(-180deg);
                                }
                            }

                            ul {
                                max-height: 50vh;
                                opacity: 1;
                                pointer-events: all;
                                visibility: visible;
                                max-height: fit-content;
                            }
                        }
                    }

                    & > a {
                        display: block;
                        color: $accent;
                        font-size: 14px;
                        font-weight: 600;
                        margin-bottom: 10px;
                        line-height: normal;

                        @media (max-width: 768px) {
                            color: $black;
                            margin-bottom: 0;
                        }
                    }
                }

                a {
                    font-size: 13px;
                    line-height: 1.3;

                    @media (any-hover: hover) {
                        &:hover {
                            color: $accent;
                        }
                    }
                }

                button {
                    @media (min-width: 769px) {
                        display: none;
                    }

                    svg {
                        pointer-events: none;
                        flex: 0 0 auto;
                        width: 10px;
                        height: 14px;
                        fill: $accent;
                        transition: transform 0.3s ease 0s;
                    }
                }
            }
        }

        .search {
            max-width: none !important;
            display: flex;
            height: 47px;

            max-width: 259px;
            flex: 1 1 auto;
            height: 47px;
            border-radius: 10px;
            background: #f7f7f7;
            padding: 0 20px;
            margin-bottom: 27px;

            display: none;

            @media (max-width: 1024px) {
                display: flex;
            }

            input {
                display: block;
            }
        }
    }
}

.menu{
    .catalog-menu{
        height: auto;
    }
}

[data-catalog-menu] {
    display: none;

    &._active {
        display: block;
    }
}
