.catalog-filters {
    // .catalog-filters__open

    &__open {
        justify-content: space-between;
        margin-bottom: 20px;
        border: 1px solid $accent;

        @media (min-width: 1025px) {
            display: none;
        }

        @media (max-width: 1024px) {
            width: 100%;
        }

        svg {
            transition: transform 0.3s ease 0s;
            width: 25px;
            height: 22px;
            flex: 0 0 auto;
            fill: $white;
        }

        * {
            pointer-events: none;
        }

        &._active {
            background-color: $white;
            color: $accent;

            svg {
                fill: $accent;
            }
        }
    }

    // .catalog-filters__item

    &__item {
        h3 {
            display: block;
            margin-bottom: 16px;
            color: $black;
            @include adaptive-value("font-size", 20, 15, 1);
            font-weight: 600;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            @media (max-width: 1024px) {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }

            li {
                border: 1px solid #eaeaea;
                background-color: $white;
                border-radius: 10px;
                transition: border-color 0.3s ease 0s;
                height: auto;
                cursor: pointer;

                @media (any-hover: hover) {
                    &:hover {
                        border-color: $accent;

                        p {
                            color: $accent;
                        }
                    }
                }

                &:has(input:checked) {
                    border-color: $accent;

                    p {
                        color: $accent;
                    }
                }

                @media (max-width: 1024px) {
                    padding: 8px;
                }

                div {
                    border-radius: 10px;
                    width: 100%;
                    pointer-events: none;
                }

                label {
                    text-transform: capitalize;

                    cursor: pointer;
                    input:checked + li {
                        border-color: $accent;
                        color: $accent;
                    }

                    input {
                        display: none;
                    }

                    p {
                        transition: color 0.3s ease 0s;
                        text-align: center;
                        font-size: 12px;
                        line-height: 1.3;
                        pointer-events: none;
                    }
                }
            }
        }

        .select-input {
            flex-wrap: wrap;

            @media (max-width: 1024px) {
                .select {
                    width: calc(100% + 40px);
                    margin-left: -20px;
                    flex: 0 0 auto;
                    position: static;
                    transform: translate(0, 30px);
                }
            }
        }
    }

    // .catalog-filters__body

    &__body {
        & > :not(:last-child) {
            margin-bottom: 24px;
        }

        @media (max-width: 1024px) {
            width: 50%;
            height: 100%;
            min-width: 300px;
            padding: 0 15px 30px 15px;
            background-color: $white;

            overflow-y: auto;

            transform: translate(-100%, 0);
            transition: transform 0.3s ease 0s;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .filter-top {
            display: none;
            position: sticky;
            top: 0;
            background-color: $white;
            padding: 15px 0;

            &:after {
                position: absolute;
                content: "";
                left: -15px;
                bottom: 0;
                height: 1px;
                width: calc(100% + 30px);

                background-color: #eaeaea;
            }

            @media (max-width: 1024px) {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            h3 {
                font-size: 20px;
            }

            button {
                width: 30px;
                height: 30px;
                flex: 0 0 auto;
                border-radius: 5px;
                background-color: #fafafa;

                display: flex;
                align-items: center;
                justify-content: center;

                img,
                svg {
                    width: 14px;
                    stroke: currentColor;
                    stroke-width: 1.5px;
                    pointer-events: none;
                }
            }
        }

        ._btn {
            width: fit-content;
            margin-bottom: 24px;

            @media (max-width: 1024px) {
                width: 100%;
                margin-bottom: 0;
            }
        }
    }

    // .catalog-filters__wrapper

    &__wrapper {
        @media (max-width: 1024px) {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 21;
            background-color: rgba($color: $black, $alpha: 0.6);

            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s ease 0s;

            &._open {
                opacity: 1;
                pointer-events: all;

                .catalog-filters__body {
                    transform: translate(0, 0);
                }
            }
        }
    }
}

.filter {
    // .filter-profiles

    &-profiles {
        ul {
            @media (max-width: 640px) {
                grid-template-columns: repeat(3, 1fr);
            }

            li {
                padding: 8px 8px 24px 8px;

                @media (max-width: 1024px) {
                    padding: 8px;
                }

                label {
                    div {
                        @include adaptive-value("margin-bottom", 24, 16, 1);
                        border-radius: 10px;
                        border-radius: 10px;
                        width: 100%;

                        @include adaptive-value("height", 100, 57, 1);

                        @media (min-width: 1025px) {
                            @include adaptive-value("width", 162, 95, 1);
                        }

                        picture {
                            height: 100%;
                        }

                        img {
                            border-radius: 10px;
                            height: 100%;
                            object-fit: cover;
                        }

                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    p {
                    }

                    &[for="Smart Фальц Pro"] div {
                        background-image: url("@img/filter-images/Smart Фальц Pro.png");
                    }
                    &[for="Smart Фальц Pro гофрированный"] div {
                        background-image: url("@img/filter-images/Smart Фальц Pro гофрированный.png");
                    }
                    &[for="Smart Фальц Pro узкое ребро жесткости"] div {
                        background-image: url("@img/filter-images/Smart Фальц Pro узкое ребро жесткости.png");
                    }
                    &[for="Smart Фальц Pro широкое ребро жесткости"] div {
                        background-image: url("@img/filter-images/Smart Фальц Pro широкое ребро жесткости.png");
                    }
                    &[for="Garda"] div {
                        background-image: url("@img/filter-images/Garda.jpg");
                    }
                    &[for="Stella"] div {
                        background-image: url("@img/filter-images/Stella.jpg");
                    }
                    &[for="СМ Классик (Монтеррей)"] div {
                        background-image: url("@img/filter-images/СМ Классик (Монтеррей).jpg");
                    }
                    &[for="G"] div {
                        background-image: url("@img/filter-images/G.jpg");
                    }
                    &[for="S"] div {
                        background-image: url("@img/filter-images/S.jpg");
                    }
                    &[for="K"] div {
                        background-image: url("@img/filter-images/K.jpg");
                    }
                    &[for="Полукруглая черепица"] div {
                        background-image: url("@img/filter-images/Полукруглая черепица.png");
                    }
                    &[for="Прямоугольная ассиметричная / дранка черепица"] div {
                        background-image: url("@img/filter-images/Прямоугольная ассиметричная-дранка черепица.png");
                    }
                    &[for="Прямоугольная черепица"] div {
                        background-image: url("@img/filter-images/Прямоугольная черепица.png");
                    }
                    &[for="Ромбовидная черепица"] div {
                        background-image: url("@img/filter-images/Ромбовидная черепица.png");
                    }
                    &[for="Трапециевидная черепица"] div {
                        background-image: url("@img/filter-images/Трапециевидная черепица.png");
                    }
                    &[for="Шестиугольная / шестигранник черепица"] div {
                        background-image: url("@img/filter-images/Шестиугольная-шестигранник черепица.png");
                    }
                    &[for="С8"] div {
                        background-image: url("@img/filter-images/c-8-filtr.jpg");
                    }
                    &[for="ST15"] div {
                        background-image: url("@img/filter-images/st-15-filtr.jpg");
                    }
                    &[for="С20"] div {
                        background-image: url("@img/filter-images/c-20-filtr.jpg");
                    }
                    &[for="С21"] div {
                        background-image: url("@img/filter-images/c-21-filtr.jpg");
                    }
                    &[for="НС35"] div {
                        background-image: url("@img/filter-images/ns-35-filtr.jpg");
                    }
                    &[for="НС44"] div {
                        background-image: url("@img/filter-images/NS44.jpg");
                    }
                    &[for="Н60"] div {
                        background-image: url("@img/filter-images/n-60-filtr.jpg");
                    }
                    &[for="Н75"] div {
                        background-image: url("@img/filter-images/n-75-180.jpg");
                    }
                    &[for="Н50Z-600"] div {
                        background-image: url("@img/filter-images/Н50Z-600-filtr.jpg");
                    }
                    &[for="Н57-750"] div {
                        background-image: url("@img/filter-images/Н57-750-filtr.jpg");
                    }
                    &[for="Н90Z-1000"] div {
                        background-image: url("@img/filter-images/Н90Z-1000-filtr.jpg");
                    }
                    &[for="Н114-750"] div {
                        background-image: url("@img/filter-images/Н114-750-filtr.jpg");
                    }
                    &[for="Н127-1100"] div {
                        background-image: url("@img/filter-images/Н127-1100-filtr.jpg");
                    }
                    &[for="Н135-1000"] div {
                        background-image: url("@img/filter-images/Н-135-1000-filtr.jpg");
                    }
                    &[for="Н153-900"] div {
                        background-image: url("@img/filter-images/Н153-900-filtr.jpg");
                    }
                    &[for="Н157-800"] div {
                        background-image: url("@img/filter-images/Н157-800-filtr.jpg");
                    }
                    &[for="Под бревно"] div {
                        background-image: url("@img/filter-images/Под бревно.jpg");
                    }
                    &[for="Под брус"] div {
                        background-image: url("@img/filter-images/Под-брус.jpg");
                    }
                    &[for="Под дерево, доски"] div {
                        background-image: url("@img/filter-images/Под дерево, доски.jpg");
                    }
                    &[for="М-образный"] div {
                        background-image: url("@img/filter-images/М-образный.jpg");
                    }
                    &[for="П-образный"] div {
                        background-image: url("@img/filter-images/П-образный.jpg");
                    }
                    &[for="Полукруглый"] div {
                        background-image: url("@img/filter-images/Полукруглый.jpg");
                    }
                    &[for="Заклепка вытяжная"] div {
                        background-image: url("@img/filter-images/Заклепка вытяжная.jpg");
                    }
                    &[for="Краска-корректор с кисточкой"] div {
                        background-image: url("@img/filter-images/Краска-корректор с кисточкой.jpg");
                    }
                    &[for="Краска акриловая"] div {
                        background-image: url("@img/filter-images/Краска акриловая.jpg");
                    }
                    &[for="Саморез кровельный"] div {
                        background-image: url("@img/filter-images/Саморез кровельный.jpg");
                    }
                }
            }
        }
    }

    // .filter-colors

    &-colors {
        ul {
            gap: 4px;

            li {
                padding: 6px 6px 10px 6px;

                @media (max-width: 1024px) {
                    padding: 8px;
                }

                label {
                    div {
                        margin-bottom: 8px;
                        @include adaptive-value("height", 40, 36, 1);
                        margin-inline: auto;
                        border: 1px solid #eaeaea;
                        background-repeat: no-repeat;
                        background-size: cover;

                        @media (min-width: 1025px) {
                            @include adaptive-value("width", 68, 64, 1);
                        }
                    }

                    &[for="бежевый"] div {
                        background-color: #d9c59f;
                    }
                    &[for="белый"] div {
                        background-color: #fff;
                    }
                    &[for="черный"] div {
                        background-color: #000;
                    }
                    &[for="зеленый"] div {
                        background-color: #4f8a34;
                    }
                    &[for="коричневый"] div {
                        background-color: #75341f;
                    }
                    &[for="красный"] div {
                        background-color: #8b2527;
                    }
                    &[for="серый"] div {
                        background-color: #6c716f;
                    }
                    &[for="синий"] div {
                        background-color: #2f6aa0;
                    }
                    &[for="желтый"] div {
                        background-color: #f2cc53;
                    }
                    &[for="голубой"] div {
                        background-color: #f2cc53;
                    }
                    &[for="оцинкованный"] div {
                        background-color: #fff;
                    }
                    &[for="под дерево"] div {
                        background-image: url("@img/filter-colors/Под-дерево 1.png");
                    }
                    &[for="под камень"] div {
                        background-image: url("@img/filter-colors/Под-дерево 1.png");
                    }
                    &[for="цинк"] div {
                        background: linear-gradient(180deg, #929292, rgb(212, 212, 212) 292);
                    }
                }
            }
        }
    }

    // .filter-pharams

    &-pharams {
        margin-bottom: 20px;

        .grid {
            gap: 16px;

            @media (max-width: 1024px) {
                grid-template-columns: 1fr;
                gap: 12px;
            }
        }
    }

    // .filter-manufactorer

    &-manufactorer {
        ul {
            li {
                padding: 15px;

                @media (max-width: 1024px) {
                    padding: 8px;
                }

                label {
                    div {
                        border-radius: 10px;
                        @include adaptive-value("height", 80, 50, 1);

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        @media (min-width: 1025px) {
                            @include adaptive-value("width", 132, 79, 1);
                        }

                        img {
                            width: auto;
                            max-width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }

    // .filter-orderlist

    &-orderlist {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #eaeaea;

        @media (max-width: 768px) {
            margin-bottom: 16px;
            padding-bottom: 16px;

            p {
                display: none;
            }
        }

        & > :last-child {
            display: flex;
            align-items: center;
            gap: 20px;

            @media (max-width: 768px) {
                width: 50%;
                display: block;
            }

            .form__item {
                width: 200px;
                height: 40px;

                @media (max-width: 768px) {
                    margin-left: auto;
                    max-width: 180px;
                    padding: 10px;
                }

                @media (max-width: 475px) {
                    max-width: none;
                    width: calc(100% - 8px);
                }
            }
        }
    }
}
