.grid {
    display: grid;
    grid-template-rows: auto;

    // .grid-3

    &-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    // .grid-5

    &-5 {
        grid-template-columns: repeat(5, 1fr);
        gap: 20px 8px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 16px 8px;
        }

        @media (max-width: 500px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}
