.map {
    // .map-section

    &-section {
        padding-top: 47px;
        background-color: #fafafa;

        .map-search {
            @media (max-width: 1024px) {
                display: none;
            }
        }
    }

    // .map-hero-text

    &-hero-text {
        display: block;

        @media (min-width: 1025px) {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        @media (max-width: 1024px) {
            margin-top: 20px;
        }
    }

    .section__top {
        span {
            @media (max-width: 1024px) {
                display: none;
            }
        }

        p {
            margin-top: 20px;
            font-size: 15px;

            @media (min-width: 1025px) {
                display: none;
            }
        }

        ._btn {
            color: $white;
            width: 100%;
            margin-top: 40px;

            @media (min-width: 1025px) {
                display: none;
            }
        }
    }

    &._close-to-footer {
        padding-bottom: 60px;
    }

    // .map-search

    &-search {
        margin-bottom: 30px;

        .map-flex__left,
        .map-flex__right {
            @media (min-width: 1025px) {
                display: flex;
                gap: 30px;
            }

            @media (max-width: 1024px) {
                & > :not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        ._btn {
            width: 100%;
        }

        // .map-search-input

        &-input {
            svg {
                width: 21px;
                margin-right: 10px;
                flex: 0 0 auto;
                stroke: currentColor;
            }
        }
    }

    // .map-flex

    &-flex {
        @media (min-width: 1025px) {
            display: flex;
            gap: 30px;

            // .map-flex__left

            &__left {
                width: 57.365%;
            }

            // .map-flex__right

            &__right {
                width: 42.635%;
            }
        }

        @media (max-width: 1024px) {
            & > :not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    // .map-select

    &-select {
    }

    // .map-content

    &-content {
        .map-flex__left {
            @media (max-width: 1024px) {
                display: none;
            }
        }

        .map-flex__right {
            @media (min-width: 1025px) {
                @include adaptive-value("max-height", 744, 130, 1);
                overflow-y: auto;
                padding-right: 14px;

                &::-webkit-scrollbar {
                    border-radius: 100px;
                    width: 3px;
                }

                &::-webkit-scrollbar-thumb {
                    background: #c6c6c6;
                    border-radius: 100px;
                }
            }
        }
    }

    // .map-map

    &-map {
        border-radius: 10px;
        overflow: hidden;
    }

    // .map-items

    &-items {
        & > :not(:last-child) {
            margin-bottom: 10px;

            @media (max-width: 1024px) {
                margin-bottom: 20px;
            }
        }
    }
}
