.section {
    margin-bottom: 80px;

    &:last-child {
        margin-bottom: 0 !important;
    }

    // .section__container

    &__container {
    }

    // .section__body

    &__body {
    }

    // .section__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include adaptive-value("margin-bottom", 50, 20, 1);

        a {
            display: flex;
            align-items: center;
            @include adaptive-value("gap", 10, 5, 1);
            color: $accent;

            span {
                @include adaptive-value("font-size", 16, 12, 1);
                font-weight: 400;
            }

            svg {
                width: 6px;
                height: 10px;
                flex: 0 0 auto;
                fill: currentColor;

                @media (max-width: 425px) {
                    width: 5px;
                    height: 8px;
                }
            }
        }

        // .section__top-left

        &-left {
            h2 {
                margin-bottom: 19px;

                @media (max-width: 768px) {
                    margin-bottom: 12px;
                }
            }
        }

        // .section__top-right

        &-right {
            display: flex;
            gap: 70px;

            @media (max-width: 768px) {
                flex-direction: column;
                gap: 16px;
            }

            div {
                * {
                    @media (max-width: 768px) {
                        font-size: 15px;
                    }
                }

                p {
                    display: block;
                    margin-bottom: 10px;
                    color: $black;
                    font-weight: 600;

                    @media (max-width: 768px) {
                        margin-bottom: 8px;
                    }
                }

                a {
                    color: $accent;
                    line-height: 1.4;

                    span {
                        color: $text;
                    }
                }
            }
        }

        // .section__top-title

        &-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        // .section__top-accent

        &-accent {
            @include adaptive-value("margin-bottom", 40, 20, 1);
            border-bottom: 1px solid rgba(213, 38, 35, 0.3);
            padding-bottom: 16px;

            h2 {
                color: $accent;
                @include adaptive-value("font-size", 32, 18, 1);
                line-height: 1.4;
                letter-spacing: 0;
            }

            &._accent-black {
                border-bottom: 1px solid rgba($color: $black, $alpha: 0.1);

                h2 {
                    color: $black;
                }
            }
        }
    }

    // .section__bottom

    &__bottom {
    }

    // .section__flex

    &__flex {
        display: flex;
        justify-content: space-between;
        gap: 30px;

        @media (max-width: 1024px) {
            display: block;
        }

        // .section__flex-left

        &-left {
            @media (min-width: 1025px) {
                width: 50%;
            }
        }

        // .section__flex-right

        &-right {
            @media (min-width: 1025px) {
                width: 50%;
            }
        }
    }
}

#grid-catalog {
    @include adaptive-value("margin-bottom", 100, 48, 1);

    .grid {
        gap: 28px 31px;

        @media (max-width: 1024px) {
            gap: 15px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            display: block;

            & > :not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }
}

.about {
    @include adaptive-value("margin-bottom", 100, 56, 1);

    h2 {
        @media (min-width: 1025px) {
            max-width: 500px;
            width: 100%;
        }

        @media (max-width: 1024px) {
            margin-bottom: 20px;
        }
    }

    .section__flex-right {
        @media (min-width: 1025px) {
            max-width: 630px;
            width: 100%;
        }
    }

    ._btn {
        font-size: 16px;
        @media (max-width: 1024px) {
            width: 100%;
            font-size: 15px;
        }
    }
}

.partners {
    @include adaptive-value("margin-bottom", 100, 56, 1);

    .section__top {
        display: block;
        margin-bottom: 33px;

        h2 {
            @include adaptive-value("margin-bottom", 30, 20, 1);
        }

        p {
            color: $text;
            @include adaptive-value("font-size", 20, 15, 1);
            max-width: 702px;
            width: 100%;

            @media (max-width: 768px) {
                line-height: 1.3;
            }
        }
    }

    // .partners-slider

    &-slider {
        width: 100%;
    }

    .swiper {
        @media (max-width: 768px) {
            margin-bottom: 35px;
            width: 100vw;
            margin-left: -$padding + px;
        }

        // .swiper-wrapper

        &-wrapper {
            @media (min-width: 769px) {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(5, 1fr);

                @media (max-width: 1024px) {
                    grid-template-columns: repeat(3, 1fr);
                    gap: 40px 0;
                }
            }
        }

        // .swiper-slide

        &-slide {
            position: relative;

            @media (min-width: 769px) {
                &:not(:last-child) {
                    &:after {
                        position: absolute;
                        content: "";
                        right: 0;
                        top: 0;
                        height: 82px;
                        border-right: 1px solid #eaeaea;
                    }
                }
            }

            @media (max-width: 768px) {
                max-width: 343px;
            }

            @media (max-width: 475px) {
                max-width: 100%;
            }
        }
    }
    .pagination {
    }
}

#advantages {
    @include adaptive-value("margin-bottom", 100, 47, 1);

    h2 {
        color: $white;

        @media (max-width: 768px) {
            line-height: normal;
        }
    }

    .section__top {
        display: block;
        @include adaptive-value("margin-bottom", 52, 47, 1);

        p {
            color: $white;
            @include adaptive-value("font-size", 20, 15, 1);
            font-weight: 400;
            line-height: 1.3;
            max-width: 1085px;
            width: 100%;
            @include adaptive-value("margin-top", 38, 20, 1);

            @media (max-width: 768px) {
                margin-bottom: 30px;
            }
        }

        &-title {
            @media (max-width: 768px) {
                display: block;
            }
        }
    }

    .section__flex {
        & > :not(:last-child) {
            @media (max-width: 1024px) {
                margin-bottom: 30px;
            }
        }
    }

    ._btn {
        @media (max-width: 768px) {
            width: 100%;
        }
    }
}

.guarante {
    @include adaptive-value("margin-bottom", 100, 74, 1);

    h2 {
        white-space: nowrap;
    }

    .section__bottom {
        position: relative;
    }

    // .guarante-slider

    &-slider {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 36px;

        @media (max-width: 768px) {
            gap: 15px;
        }
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
    }

    .pagination {
        margin-left: auto;
        margin-right: auto;
        margin-top: 35px;

        display: none;

        @media (max-width: 768px) {
            display: flex;
        }
    }
}

.diller {
    @include adaptive-value("margin-bottom", 80, 36, 1);

    .section__flex {
        @media (max-width: 1024px) {
            display: flex;
        }

        @media (max-width: 768px) {
            display: block;
        }

        &-left {
            width: 50%;
            display: flex;
            flex-direction: column;
            @include adaptive-value("gap", 30, 15, 1);

            @media (max-width: 768px) {
                margin-bottom: 20px;
                width: 100%;
            }

            h5 {
                color: $black;
                text-transform: initial;

                @media (max-width: 768px) {
                    font-size: 18px !important;
                }
            }

            p {
                max-width: 468px;
                width: 100%;

                @media (max-width: 768px) {
                    font-size: 15px;
                }
            }
        }

        &-right {
            width: 50%;

            @media (max-width: 768px) {
                display: flex;
                width: 100%;
            }

            & > :not(:last-child) {
                margin-bottom: 23px;
            }

            div {
                display: flex;
                flex-direction: column;
                gap: 10px;

                @media (max-width: 768px) {
                    gap: 8px;
                    width: 50%;
                }

                span {
                    color: $black;
                    font-weight: 600;
                }

                a {
                    color: $accent;
                }
            }
        }
    }
}

.diller-address {
    @include adaptive-value("margin-top", 80, 40, 1);

    .section__bottom {
        display: block;

        & > :not(:last-child) {
            @media (min-width: 769px) {
                margin-bottom: 16px;
            }
        }
    }
}

.pricelist {
    .tab-content__downloadfile {
        padding: 20px 23px;

        @media (max-width: 768px) {
            padding: 17px 0;
        }
    }
}

._accent-becomeadealer {
    @include adaptive-value("margin-top", 80, 36, 1);
    @include adaptive-value("margin-bottom", 63, 40, 1);

    .section__top {
        align-items: flex-end;
        justify-content: flex-start;
        gap: 88px;

        @media (max-width: 1024px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;
        }

        * {
            color: $white;
        }

        h2 {
            @include adaptive-value("font-size", 36, 24, 1);

            @media (min-width: 1025px) {
                max-width: 441px;
            }
        }

        p {
            width: 60%;
            flex: 0 0 auto;
        }
    }

    .grid {
        width: 60%;
        margin-left: auto;
        gap: 20px 40px;

        @media (max-width: 1024px) {
            width: 100%;
        }

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin-left: 0;
        }
    }

    .advantages-item {
        display: flex;
        align-items: center;
        gap: 24px;

        @media (max-width: 768px) {
            gap: 16px;
        }

        img {
            margin: 0;
        }

        span {
            margin: 0;
        }
    }
}

#diler-get {
    @include adaptive-value("margin-bottom", 80, 40, 1);
}

.diler-map {
    .text-box {
        li:before {
            background-image: url("@img/check.svg");
            width: 16px;
            height: 12px;
        }

        ol {
            gap: 12px;
            margin-top: 0;
        }

        p {
            margin-bottom: 28px;
            @media (max-width: 1024px) {
                margin-bottom: 16px;
            }
        }
    }

    ._bold-text {
        color: $text;
        margin-bottom: 40px;
        margin-top: 28px;

        @media (max-width: 1024px) {
            margin-top: 16px;
            margin-bottom: 36px;
        }
    }

    ._btn {
        color: $white;

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    .section__flex-left {
        @media (min-width: 1025px) {
            max-width: 517px;
            flex: 1 1 auto;
        }

        @media (max-width: 1024px) {
            width: 100%;
        }
    }

    .section__flex-right {
        @media (min-width: 1025px) {
            flex: 1 1 auto;
            display: flex;
            justify-content: flex-end;

            div {
                width: 120%;
                flex: 0 0 auto;
            }
        }

        @media (max-width: 1024px) {
            display: none;
        }
    }
}

.promo {
    @include adaptive-value("margin-bottom", 100, 60, 1);

    .grid {
        gap: 68px 24px;

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }
}

.other-promo {
    @include adaptive-value("margin-bottom", 120, 60, 1);

    height: fit-content;

    .section__flex {
        @include adaptive-value("margin-bottom", 80, 36, 1);

        @media (max-width: 1024px) {
            display: flex;
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    .section__flex-left {
        max-width: 582px;
        width: 100%;

        @media (max-width: 768px) {
            margin-bottom: 16px;
        }
    }

    .section__flex-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        max-width: 516px;
        width: 100%;
        border-left: 2px solid $accent;
        padding-left: 17px;

        @media (max-width: 768px) {
            padding-left: 12px;
        }
    }

    .section__bottom {
        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 40, 16, 1);
        }
    }

    p {
        a {
            color: $accent;
        }
    }
}

.vacancies {
    // .vacancies-item

    &-item {
        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 80, 60, 1);
        }
    }

    ol {
        @include adaptive-value("font-size", 20, 15, 1);
        line-height: 1.5;

        b {
            color: $black;
        }
    }

    .section__flex-left {
        max-width: 515px;

        @media (max-width: 1024px) {
            margin-bottom: 42px;
            max-width: 100%;
        }

        ol {
            margin-bottom: 36px;

            @media (max-width: 768px) {
                margin-bottom: 29px;
            }
        }

        a {
            color: $accent;
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 768px) {
                font-size: 15px;
            }

            svg {
                width: 16px;
                height: 17px;
                flex: 0 0 auto;

                fill: currentColor;

                @media (max-width: 768px) {
                    width: 14px;
                    height: 15px;
                }
            }
        }
    }

    .section__flex-right {
        max-width: 516px;

        @media (max-width: 1024px) {
            max-width: 100%;
        }

        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 62, 30, 1);
        }

        .text-box {
            label {
                display: block;
                margin-bottom: 16px;
                font-size: 24px;
                font-weight: 600;
                line-height: 1.5;
                color: $accent;

                @media (max-width: 768px) {
                    font-size: 20px;
                }
            }

            li {
                &::marker {
                    color: $accent;
                }
            }
        }
    }
}

.news {
    .grid {
        @media (min-width: 769px) {
            @include adaptive-value("gap", 48, 12, 1);
        }

        @media (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 12px;
        }
    }
}

.new {
    .section__flex-left {
        max-width: 742px;
        flex: 1;

        @media (max-width: 1024px) {
            margin-bottom: 60px;
            max-width: 100%;
        }
    }

    .section__flex-right {
        max-width: 414px;

        @media (max-width: 1024px) {
            max-width: 100%;
        }

        label {
            font-size: 14px;
            letter-spacing: -0.28px;
            display: block;
            margin-bottom: 20px;
        }

        ul {
            & > :not(:last-child) {
                margin-bottom: 16px;

                @media (max-width: 768px) {
                    margin-bottom: 6px;
                }
            }

            li {
                border-radius: 4px;
                border: 1px solid #ddd;
                transition: border-color 0.3s ease 0s;
                padding: 20px;

                @media (max-width: 768px) {
                    padding: 16px;
                }

                @media (any-hover: hover) {
                    &:hover {
                        border-color: $accent;

                        h5 {
                            color: $accent;
                        }
                    }
                }

                a {
                    h5 {
                        transition: color 0.3s ease 0s;
                        color: $black;
                        text-transform: initial;
                        display: block;
                        margin-bottom: 12px;

                        @media (max-width: 768px) {
                            margin-bottom: 8px;
                        }
                    }

                    time {
                        margin-bottom: 0;

                        @media (max-width: 768px) {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    // .new-data

    &-data {
        margin-bottom: 40px;

        // .new-data__meta

        @media (max-width: 768px) {
            display: flex;
            flex-direction: column-reverse;
        }

        &__meta {
            margin-bottom: 20px;
            font-size: 14px;

            display: flex;
            justify-content: space-between;

            @media (max-width: 768px) {
                margin-bottom: 0;
                margin-top: 12px;
            }

            time {
                letter-spacing: -0.02em;

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
    }

    .image {
        img {
            border-radius: 10px;
        }
    }
}

.contacts {
    .grid {
        gap: 29px;

        @media (max-width: 1024px) {
            grid-template-columns: 1fr;
        }

        @media (max-width: 768px) {
            gap: 12px;
        }
    }

    ._email {
        display: block;
        margin-top: 28px;

        @media (max-width: 768px) {
            display: none;
        }

        a {
            color: $accent;
        }
    }
}

.location {
    .section__top {
        justify-content: flex-start;
        gap: 44px;

        @media (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media (max-width: 1024px) {
            gap: 24px;
        }
    }

    // .location-slider

    &-slider {
        margin-bottom: 30px;

        // .location-slider__body

        &__body {
            position: relative;
        }
    }

    .pagination {
        margin-top: 28px;
    }

    button {
        z-index: 3;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 3;

        &.next {
            right: -22px;

            @media (max-width: 768px) {
                right: 16px;
            }
        }

        &.prev {
            left: -22px;

            @media (max-width: 768px) {
                left: -16px;
            }
        }
    }

    .swiper-slide {
        width: 300px;
        height: 200px;

        picture {
            height: 100%;
        }

        img {
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }

    .geo {
        @include adaptive-value("height", 500, 200, 1);

        img,
        picture,
        iframe {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;

            filter: grayscale(1);
            -ms-filter: grayscale(1);
            -webkit-filter: grayscale(1);
            -moz-filter: grayscale(1);
            -o-filter: grayscale(1);
        }
    }
}

.schema {
    margin-bottom: 0;

    label {
        display: block;
        margin-bottom: 24px;
        font-size: 24px;
        font-weight: 600;
        color: $black;

        @media (max-width: 768px) {
            margin-bottom: 16px;
            font-size: 18px;
        }
    }

    .schema-img {
        @include adaptive-value("margin-bottom", 80, 40, 1);
    }
}

.instructions {
}

.coating {
    .grid {
        gap: 40px;

        @media (max-width: 768px) {
            gap: 20px;
            grid-template-columns: 1fr;
        }
    }
}

.coating-slider {
    .catalog-content__slider {
        max-width: 50%;

        @media (max-width: 1024px) {
            max-width: 100%;
        }
    }

    .catalog-content__flex > :not(:last-child) {
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }

    .catalog-content__descr {
        nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 50px;
            max-width: none;
            width: 100%;

            @include adaptive-value("padding-top", 38, 24, 1);
            @include adaptive-value("padding-bottom", 38, 24, 1);
            @include adaptive-value("padding-inline", 52, 20, 1);
            background-color: #f8f8f8;
            border-radius: 10px;

            @media (max-width: 768px) {
                gap: 24px;
            }
        }

        ul {
            & > :not(:last-child) {
                margin-bottom: 10px;
            }

            & > :first-child {
                margin-bottom: 23px;
            }

            span {
                color: $black;
                display: block;
                font-weight: 600;
                white-space: nowrap;
            }

            li {
                a {
                    color: inherit;
                    font-size: 14px !important;

                    @media (any-hover: hover) {
                        &:hover {
                            color: $accent;
                        }
                    }
                }
            }
        }
    }
}

.structure {
    .section__flex {
        justify-content: flex-start;
        @media (min-width: 1025px) {
            @include adaptive-value("gap", 154, 0, 1);
        }

        @media (max-width: 1024px) {
            gap: 0;
        }
    }

    .section__flex-left {
        flex: 1;
        max-width: 605px;
        width: 100%;

        @media (max-width: 1024px) {
            max-width: 100%;
            margin-bottom: 16px;
        }

        div {
            width: 100%;
        }
    }

    .section__flex-right {
        padding-top: 53px;

        @media (max-width: 1024px) {
            padding: 0;
        }

        ol {
            li { 
                font-size: 20px; 
                line-height: 1.3;

                @media (max-width: 768px) {
                    font-size: 15px;
                }
            }
        }
    }
}

._table {
    * {
        font-size: 14px;
    }

    h3 {
        @include adaptive-value("font-size", 20, 16, 1);
        margin-bottom: 20px;
    }

    .table-wrapper {
        overflow-x: auto;

        @media (max-width: 1024px) {
            width: 100vw;
            padding-inline: $padding + px;
            margin-left: -$padding + px;
        }

        @media (any-hover: hover) {
            &::-webkit-scrollbar {
                height: 8px;
                background-color: #f7f7f7;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background: $black;
            }
        }

        @media (any-hover: none) {
            &::-webkit-scrollbar {
                display: none;
            }
        }

        table {
            width: 100%;
            // border-collapse: collapse;
            text-align: center;
            padding-bottom: 10px;

            th,
            td {
                padding: 16px 10px;
                min-width: 75px;

                @media (max-width: 1024px) {
                    min-width: 100px;
                }
            }

            td {
                img {
                    width: 60px;
                    height: 12px;
                    margin-inline: auto;
                }
            }

            th {
                background: #f7f7f7;
                font-weight: 400;
            }

            tbody tr {
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 100%;
                    width: 100%;
                    height: 1px;
                    background-color: #e4e4e4;
                }
            }

            td:has(span) {
                text-align: left;
            }
        }

        ._accent {
            color: $accent;
        }

        + p {
            margin-top: 24px;

            @media (max-width: 768px) {
                margin-top: 12px;
            }
        }
    }

    ol {
        margin-left: auto;
        margin-top: 28px;
        margin-bottom: 60px;

        @media (max-width: 768px) {
            margin-top: 10px;
            bottom: 24px;
        }

        li {
            font-size: 12px;
            text-align: right;
        }
    }

    a {
        padding: 20px 23px;
        border-top: 1px solid #eaeaea;

        @media (max-width: 768px) {
            padding: 17px 7px;
        }
    }
}
